<style>

.video-wrapper{
  position: fixed;
  border-radius: 3px;

}

#video-toggle{
  position: relative;
  left: 740px;
  top: 80px;
}

#video-frame {
  position:fixed;
  bottom: 50px;
  border-radius: 3px !important;

}

#player {
  position:fixed;
  bottom: 50px;
  border-radius: 3px !important;

}

input[type=checkbox]:checked + iframe {
  opacity: 0;
  visibility: hidden;
}

iframe {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  border-radius: 3px !important;
  box-shadow: 0px 20px 80px black;
}

</style>

<div class="video-wrapper">
  <input id="video-toggle" type="checkbox" checked>
  <iframe id="player" type="text/html" width="740" height="400"
    src="http://www.youtube.com/embed/IxBXkFbUqtk?enablejsapi=1&origin=https://nsipplswezey.github.io"
    frameborder="0"></iframe>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script>

var metaChar = false;
var exampleKey = 91;
var toggleBox = document.getElementById("video-toggle");
var videoFrame = document.getElementById("player");

var player;
var playerReady;
var last;

function onYouTubeIframeAPIReady() {

  player = new YT.Player('player', {
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}

function onPlayerReady(event) {
  playerReady = true;
}

function onPlayerStateChange(event) {
  //console.log('stateChange ' + player.getPlayerState());
}


document.body.onkeydown = function(event) {
  var key = event.keyCode || event.which;
  var keychar = String.fromCharCode(key);

  if(playerReady){
    var playerState = player.getPlayerState();
  }

  if (key == exampleKey) {
    metaChar = true;
  }

  if (key != exampleKey) {
    if (metaChar) {
      //console.log("Combination of metaKey + " + keychar);
      metaChar = false;

      if(keychar === "&"){
        event.preventDefault();
        toggleBox.checked = !toggleBox.checked;

      }

    } else {
      //console.log("Key pressed " + key);
    }
  }

  //If our toggleBox is not checked, it means our video is up
  //We'd like space bar to play the youtube video
  //We'd like left to rewind 5 seconds and right to fast forward 5 seconds
  if(!toggleBox.checked && key === 32){
    event.preventDefault();

    if(playerState === -1 || playerState === 0 ||  playerState === 2 || playerState === 5){

      last = "play";
      player.playVideo();

    }

    if(playerState === 1){
      last = "pause";
      player.pauseVideo();
    }

    if(playerState === 3){

      if(last === "pause"){
        player.playVideo();
        last = "play";
      } else if(last === "play"){
        player.pauseVideo()
        last = "pause";
      }
    }


  }


}

document.body.onkeyup = function (event) {
  var key = event.keyCode || event.which;

  if (key == exampleKey) {
    metaChar = false;
  }
}


</script>
